source 'https://rubygems.org'

gem 'volt', '<%= config[:version] %>'
gem 'sass', require: 'sass'


# The following gem's are optional for themeing

# Skeleton
gem 'volt-skeleton'

# User templates for login, signup, and logout menu.
gem 'volt-user-templates'

# Server for MRI
platform :mri do
  gem 'thin', '~> 1.6.0'
  gem 'bson_ext', '~> 1.9.0'
end
